{% load static %}

<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>{% block title %}Mail{% endblock %}</title>

        <!-- Favicon -->
        <link rel='icon' type='image/x-icon' href='{% static "images/favicon.ico" %}'>

        <!-- Icons -->
        <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css' rel='stylesheet'>
        <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css' rel='stylesheet'>

        <!-- Bootstrap CSS -->
        <link href='{% static "css/bootstrap.min.css" %}' rel='stylesheet'>

        <!-- Custom styles -->
        <link href='{% static "css/styles.css" %}' rel='stylesheet'>

        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div class='container'>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>